body{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

.container{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F3F5FC;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.text-input{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;

    border:none;
    outline:none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */

    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    background: #F3F5FC;;
}

.rigth{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imgDer{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 243px;
}

.rigth1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 619px;
}

#texto{
    position: static;
    width: 336px;
    height: 58px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}


#texto2{
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.aclaracion{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.circle{
    position: static;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.p{
    /*position: static;*/
    width: 205px;
    height: 18px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
/* identical to box height, or 18px */

/* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
/* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px; 
}

.left-buttom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

#btn-encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;

    background: #0A3871;
    border-radius: 24px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    /*text Encriptar*/
    color: white;
}

#btn-desencriptar{
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;

position: static;
width: 328px;
height: 67px;
left: 352px;
top: 0px;
/* Light gray */
background: #D8DFE8;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;
/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;

}

#texto3{
    position: absolute;
    width: 336px;
    height: 781px;
    left: 32px;
    top: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #495057;
    background: red;

    display: none;
}



#copiar{
    box-sizing: border-box;
/* Auto layout */
    display: flex;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 0px;
    top: 220px;
/* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
}


